<!DOCTYPE html>
<html lang="en">
<body>
  <%- include('../partials/bvlogo') %>
  <nav>
    <%- include('../partials/_navbar') %>
  </nav>
  
    <h1>Edit <%= drink.name %></h1>
    <form action="/drinks/<%=drink._id%>?_method=PUT" method="POST">
        <label for="name">Name:</label>
        <input type="text" name="name" value="<%= drink.name %>">
        <br>
        <label for="type">Type:</label>
        <select name="rating" value="<%=drink.type%>">
            <option value="Beer">Beer</option>
            <option value="Wine">Wine</option>
            <option value="Spirits">Spirits</option>
            <option value="Other">Other</option>
        </select>
        <br>
        <label for="img">Image:</label>
        <input type="text" name="img" value="<%= drink.img %>">
        <br>
        <label for="current_img">Current Image:</label>
        <img src="<%=drink.img%>" width="150" height="150">
        <br>
        <label for="style">Style:</label>
        <input type="text" name="style"value="<%= drink.style %>">
        <br>
        <label for="abv">ABV%:</label>
        <input type="number" name="abv" step=".1"value="<%= drink.abv%>">
        <br>
        <label for="location">Location:</label>
        <input type="text" name="location"value="<%= drink.location %>">
        <br>
        <label for="description">Description:</label><br>
        <textarea name="description" rows ='4' cols='40' value="<%= drink.description %>"></textarea>
        <br>
        <input type="submit" value="Update drink">
    </form>
</body>
</html>