<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/b0bc6568b2.js" crossorigin="anonymous"></script>
    <title>BrewVine</title>
    <link href="https://fonts.googleapis.com/css2?family=Caveat&display=swap" rel="stylesheet">
    
</head>
<body>
  <%- include('../partials/bvlogo') %>
<header>Welcome to BrewVine! *App Description somewhere around here*</header>

    

  <nav>
    <%- include('../partials/_navbar') %>
  </nav>
    

  <div class="container">    
    

    <label for="Type Selector">Sort by Type:</label>
    <select name="type" >
        <option value="All">All</option>
        <option value="Beer">Beer</option>
        <option value="Wine">Wine</option>
        <option value="Spirits">Spirits</option>
        <option value="Other">Other</option>
    </select>
    <input type="submit" id="type-filter">   
    </form>

 


    <div class="products">
      <% drinks.forEach((drink)=>{ %>
        <section>
          <h3><a href="/drinks/<%=drink._id%>">
              <%=drink.name%>
            </a></h3>
          <% if (drink.img) { %>
            <h4><a href="/drinks/<%=drink._id%>"><img src="<%= drink.img%>" alt="Drink image"></a></h4>
            <% } %>
        </section>
        <% }) %>
    </div>
  </div>


 
</body>

</html>