<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('../partials/head') %>
</head>

<body>
  <nav>
    <%- include('../partials/header') %>
  </nav>
  <div class="container">
    <div class="products">
      <% drinks.forEach((drink)=>{ %>
        <section>
          <h3><a href="/drinks/<%=drink._id%>">
              <%=drink.name%>
            </a></h3>
          <% if (drink.img) { %>
            <h4><a href="/drinks/<%=drink._id%>"><img src="<%= drink.img%>" alt="Drink image"></a></h4>
            <% } %>
        </section>
        <% }) %>
    </div>
  </div>
</body>

</html>