<!DOCTYPE html>
<html lang="en">
<body>
  <%- include('../partials/bvlogo') %>
  <nav>
    <%- include('../partials/_navbar') %>
  </nav>
  
  <div class="container">
    <% let total = 0 %>
    <% drink.reviews.forEach(function(drink) { %>
      <% total += drink.rating %>
    <% }); %>
    
    <h1><%=drink.name%></h1>
    <h3>Type: <%=drink.type%></h3>
    <h3><img src="<%=drink.img%>"></h3>
    <h3>Style: <%=drink.style%></h3>
    <h3>From: <%=drink.location%></h3>
    <h3>ABV%: <%=drink.abv%></h3>
    <h4>Description: <%=drink.description%></h4>
    <h3>Average User Rating: <strong><%= (total / drink.reviews.length).toFixed(1) %> </strong></h3>
    <% if (user) { %>
    <button class="edit-button"><a href="/drinks/<%=drink._id%>/edit">Edit <%=drink.title%></a></button>
    <form action="/drinks/<%=drink._id%>?_method=DELETE" method="POST">
        <input type="submit" value="Delete <%=drink.title%>">
    </form>
    <% } %>
    <% if (user) { %>
    <form action="/drinks/<%= drink._id %>/reviews" method="POST" id="add-review-form" >
        <label>Review:</label>
        <textarea name="content"></textarea>
        <label>Rating:</label>
        <select name="rating">
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
        <option value="5">5</option>
        </select>
        <input type="submit" value="Add <%=drink.name%> Review">
    </form>
    <% } %>
    <% if (drink.reviews.length) { %>
        <table>
            <thead>
              <tr>
                <th>User</th>
                <th>Date</th>
                <th>Review</th>
                <th>Rating</th>
                <% if (user) { %>
                <th>Delete</th>
                <% } %>
                
              </tr>
            </thead>
            <tbody>
              <% let total = 0 %>
              <% drink.reviews.forEach(function(drink) { %>
                <% total += drink.rating %>
                <tr>
                  <td class="review-user"><img alt="avatar" src="<%= drink.userAvatar %>" referrerpolicy="no-referrer" ><%= drink.userName %></td>
                  <td><%= drink.createdAt.toLocaleDateString() %></td>
                  <td><%= drink.content %></td>
                  <td><%= drink.rating %></td>
                  <td>
                    <% if (user?._id.equals(drink.user)) { %>
                  <form action="/reviews/<%= drink._id %>?_method=DELETE" method="POST">
                    <button type="submit">Remove Review</button>
                  </form>
                  <% } %>
                  </td>
                </tr>
                <% }); %>
              <tr>
                <td colspan="3"></td>
                <td><strong><%= (total / drink.reviews.length).toFixed(1) %></strong></td>
              </tr>
            </tbody>
          </table>
    <% }else{ %>
        <h5>No Reviews Yet</h5>
    <% } %>
  </div>
</body>
</html>